#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.AddTaskButton {
  position: fixed;
  top: 30px;
  right: 30px;
  width: 180px;
  height: 60px;
  border-radius: 15%;
  background-color: green;
  color: white;
  font-size: 20px;
  border: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.AddTaskButton:hover {
  background-color: #32cd32;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}
